body{
    background-image: url(szabo_marta_9eb7f3fce4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Ensures full image is visible */
}


